main/utils/__testbed__/**/output
test-results/jest/*.json
# build output
renderer/out
renderer/.next
dist

# dependencies
node_modules

# logs
npm-debug.log

# Database
db.json

# =========================
# Operating System Files
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


# OSX
.DS_Store
.AppleDouble
.LSOverride

# OSX Thumbnails
._*

# OSX Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# OSX Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
